.container {

  padding: 0;
  margin: 0;

}

.image {

  margin: 2px;
  width: 100px;
  height: 100px;

}

.source {

  z-index: 3;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid white;
  background-color: black;

}

.generated {

  width: 100%;
  height: 100%;
  background-color: blue;

}

.canvasContainer {

  position: relative;

}

.coverImage {

  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  margin-bottom: 100px;
}

.webglCanvas, .cssCanvas {

  position: relative;
  z-index: 0;

}

.cssCanvas {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

}

.cssObjects {

  color: white;
  border: 1px solid white;

}