.container {

  padding-top: 0px;
  margin-left: auto;
  margin-right: auto;

}

.image {

  margin: 2px;
  width: 100px;
  height: 100px;

}

.source {

  position: absolute;
  background-position: center;
  background-image: url('../images/nyan.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.generated {

  width: 100%;
  height: 100%;
  background-color: blue;

}

.webglCanvas, .cssCanvas {

  position: relative;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;

}

.cssCanvas {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

}

.cssObjects {

  color: white;
  background-color: red;

}